---
import Layout from '../../layouts/Layout.astro'
import Header from '../../components/Header.astro'
import PlayIcon from '@/icons/PlayIcon.astro'
import Heart from '@/icons/Heart.astro'
import  HeartButton  from '@components/HeartButton.vue'

import {TOKEN} from '@/constants.ts'
import PlaylistOpt from '@components/PlaylistOpt.astro'
import { Global } from '@/globalState/globalUrl'
import { getInfoAudio } from '@/utils/getInfoAudio'
import type { Audio } from '@/interfaces'



const {id} = Astro.params;
const token = Astro.cookies.get(TOKEN);

let audio :any;

try {
    if(id && token){
        audio = await getInfoAudio(token.value, id);
    }
} catch (e) {
    console.error(e);
}
// console.log(audio)

const fecha = new Date(audio.fechaLanz);

// Extrae el día, mes y año de la fecha
const dia = String(fecha.getDate()).padStart(2, '0');
const mes = String(fecha.getMonth() + 1).padStart(2, '0');
const anio = fecha.getFullYear();

// Formatea la fecha como DD-MM-YYYY
const fechaFormateada = `${dia}-${mes}-${anio}`;


function convertirSegundos(segundos:any) {
    let horas = Math.floor(segundos / 3600);
    segundos %= 3600;
    let minutos = Math.floor(segundos / 60);
    segundos %= 60;
    let res = ""
    if(horas >0 ){
        res+= horas + "h "
    }
    if(minutos >0 ){
        res+= minutos + "m "
    }
    if(segundos >0 ){
        res+= segundos + "s "
    }
    return res
}


const item = {
    Artistas: audio.artistas
}


const handleLike =  () => {

    console.log("dentro de handleLike")
    // try {
    //     const response = await 
    // } catch (error) {
    //     console.error('There was a problem with the fetch operation: ' + error.message);
    // }
};


---

<Layout title="PlayBeat">
<Header/>
    <div class="mt-16 p-4 px-14">
        <section class="  flex flex-row ">
            <div>
                <img class=" w-60 h-60 rounded-md" src={Global.url + "foto/" + audio.imgAudio}>

                </img>
                <div class="mt-8 flex flex-row justify-start gap-8 items-center">
                    <button class="bg-[#6985C0] flex flex-row items-center p-1 px-3  gap-1 w-max rounded-md">
                        <PlayIcon/>
                        <span class=" font-semibold">
                            PLAY
                        </span>
                    </button>
                    <!-- <HeartButton client:load/>

                    <button onclick="handleClick()">
                        <Heart/>
                    </button> -->
                    <script>
                        function handleClick() {
                            console.log("click")
                        }
                    </script>
                </div>
            </div>
            <div class="flex flex-col ml-8 self-center gap-1">
                <span class="font-medium"></span>
                <h2 class="text-4xl font-semibold">{audio.titulo}</h2>
                <h2 class="text-2xl font-semibold text-[#6985C0]">
                    {audio?.artistas?.map((user: any, index: any)=>{
                        if(index === audio?.artistas?.length - 1){
                            return(<a href={"/user/"+user.idUsuario} class="hover:underline">@{user.nombreUsuario}</a>)
                        }
                        return(<a href={"/user/"+user.idUsuario} class="hover:underline">@{user.nombreUsuario},</a>)
                    })}
                </h2>
                
                <span>{fechaFormateada} | {convertirSegundos(audio.duracionSeg)}</span>
            </div>
        </section>  

        <table class="mt-8 table-auto w-full">
            <thead class="opacity-60">
                <tr class="text-left">
                    <th class="pb-2 pl-1">Canción</th>
                    <th>Artista</th>
                    <th class="max-w-6">Duración</th>
                </tr>
            </thead>
            <tbody class="border-t-[1px] border-white border-opacity-60">
                
                    <tr class=" hover:bg-[#323232] select-none" id={audio.idAudio}  >
                        <td class="py-3 pl-3 flex flex-row items-center gap-3">
                            <img class=" h-12 aspect-square bg-black rounded-[4px]" src={Global.url + "foto/" + audio.imgAudio}/>
                            {audio.titulo}
                            </td>
                        <td class="py-3">                                
                            {
                                item && item.Artistas.map((artista :any, index:any) => 
                                    
                                        <p class="text-gray-400">{( index == item.Artistas?.length-1  )
                                            ? <a href={"/user/"+artista.idUsuario} class="hover:underline">{artista.nombreUsuario}</a>
                                            : <a href={"/user/"+artista.idUsuario} class="hover:underline">{artista.nombreUsuario},</a>}</p>
                                        

                                )
                            }
                        </td>
                        <td class="py-3 max-w-6 ">{audio.duracionSeg}</td>
                        <td class="max-w-3 cursor-pointer pr-3">
                            <PlaylistOpt items={["Añadir a playlist", "Añadir a la cola"]} id={audio.idAudio}>                        
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dots" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#6985C0" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /></svg>
                            </PlaylistOpt> 
                        </td>
                    </tr>
                
            </tbody>
        </table>
    </div>
</Layout>


<script is:inline>
    document.addEventListener('astro:page-load', () => {
        const canciones = Array.from(document.querySelectorAll('tr')).slice(1)
        canciones.forEach((cancion, key) => {
            cancion.addEventListener("dblclick", () => {
                // localStorage.setItem("playlist", canciones.id)
                
                const hijos = canciones.map(cancion => cancion.children);
                const playlist = hijos.map(hijo => {
                    return {
                        id: hijo[0].parentElement.id,
                        titulo: hijo[0].innerText,
                        artista: hijo[1].innerText,
                        duracion: hijo[3].innerText
                    }
                })
                localStorage.setItem("playlist", JSON.stringify(playlist))
                let pl = playlist.slice(key)
                localStorage.setItem("playlistQueue", JSON.stringify(pl))
                var event = new Event("playlistChange");
                window.dispatchEvent(event);
                var event = new Event("nextSongPlaylist");
                window.dispatchEvent(event);
                setTimeout(() => {
                    var event = new Event("playSong");
                    document.dispatchEvent(event);
                    setTimeout(()=> {
								window.dispatchEvent(new Event('historialChange'))
							}, 5000)	
                }, 1000)


            })
    })
    })
</script>

