---
import CreatorLayout from '@layouts/CreatorLayout.astro';
import HeaderCreator from '@components/HeaderCreator.astro';
import TopFive from '@components/TopFive.astro';
import Carrousel from '@components/Carrousel.astro';
import CarrouselUser from '@components/CarrouselUser.astro';
import {Contador} from '@components/Contador.tsx';
import { getMyUserInfo } from "@/utils/getMyUserInfo";
import {TOKEN} from '@/constants.ts'


const canciones = [
    {
        title: 'Canción 1',
        listeners: 1000000000,
        time: '3:45'
    },
    {
        title: 'Canción 2',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 3',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 4',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 5',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 6',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 7',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 8',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 9',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 10',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 11',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 12',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 13',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 14',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 15',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 16',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 17',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 18',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 19',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 20',
        listeners: 1000000,
        time: '3:45'
    },

    
]


const canciones2 = {num:3,name:"Tu biblioteca", ref:"/creator/tusalbums", items:[{audio:"Cancion1", descripcion:"Artista1"}, {audio:"Cancion2", descripcion:"Artista2"}, {audio:"Cancion3", descripcion:"Artista3"}, {audio:"Cancion4", descripcion:"Artista4"}, {audio:"Cancion5", descripcion:"Artista5"}, {audio:"audio6", descripcion:"Artista6"}, {audio:"audio7", descripcion:"Artista7"}, {audio:"audio8", descripcion:"Artista8"}, {audio:"audio9", descripcion:"Artista9"}, {audio:"audio10", descripcion:"Artista10"}, {audio:"audio11", descripcion:"Artista11"}, {audio:"audio12", descripcion:"Artista12"}, {audio:"audio13", descripcion:"Artista13"}, {audio:"audio14", descripcion:"Artista14"}, {audio:"audio15", descripcion:"Artista15"}, {audio:"audio16", descripcion:"Artista16"}, {audio:"audio17", descripcion:"Artista17"}, {audio:"audio18", descripcion:"Artista18"}, {audio:"audio19", descripcion:"Artista19"}, {audio:"audio20", descripcion:"Artista20"}, {audio:"audio21", descripcion:"Artista21"}, {audio:"audio22", descripcion:"Artista22"}, {audio:"audio23", descripcion:"Artista23"}, {audio:"audio24", descripcion:"Artista24"}, {audio:"audio25", descripcion:"Artista25"}, {audio:"audio26", descripcion:"Artista26"}, {audio:"audio27", descripcion:"Artista27"}, {audio:"audio28", descripcion:"Artista28"}, {audio:"audio29", descripcion:"Artista29"}, {audio:"audio30", descripcion:"Artista30"}, {audio:"audio31", descripcion:"Artista31"}, {audio:"audio32", descripcion:"Artista32"}]}




const token = Astro.cookies.get(TOKEN);
let user
try{
    user = await getMyUserInfo(token?.value)
    user = user.data

}catch(e){
    console.log(e)
}

---

<CreatorLayout title="PlayBeat">
    <div class="h-full w-full bg-[#333] bg-opacity-60 flex flex-col items-center">
        <HeaderCreator />
        <div class="flex flex-col items-center mt-5 gap-3">
            <h1 class="text-5xl text-bluePB font-bold">PLAYBEAT</h1>
            <h2 class="text-6xl font-semibold">PANEL DE CREADOR</h2>
        </div>
        <div class="w-full flex flex-row justify-between mt-16 px-20 ">
            
            <div class="flex flex-col w-1/2 items-center rounded-sm">
                <h3 class="text-xl p-2 font-semibold">REPRODUCCIONES ULTIMOS 30 DIAS</h3>
                <div class="h-[150px] w-full flex justify-center items-center">
                    <Contador initial={0} final={user.nEscuchas}  client:load/>
                </div>
            </div>
            <div class="flex flex-col w-1/2 items-center  rounded-sm">
                <h3 class="text-xl p-2 font-semibold">OYENTE ULTIMOS 30 DIAS</h3>
                <div class="h-[150px] w-full flex justify-center items-center">
                    <Contador initial={0} final={user.oyentesMensuales}  client:load/>
                </div>
            </div>
        </div>
        <div class="w-full flex flex-row justify-between mt-10">
            <div class="ml-20 flex flex-col items-center">
                <a href="/creator/tusaudios"><h3 class="text-4xl  font-semibold hover:underline">TUS CANCIONES</h3></a>
                <div class="w-[600px]">
                    <!-- <CarrouselUser info={canciones} num={5}/> -->
                </div>
            </div>
            <div class="ml-8 w-[40%] flex flex-col mr-20">
                <a href="/creator/tusalbums" class="self-center"><h3 class="text-4xl font-semibold  hover:underline">TUS ALBUMS</h3></a>
                <Carrousel  info={canciones2} />
            </div>
        </div>
    </div>
</CreatorLayout>
