---
import CreatorLayout from '@layouts/CreatorLayout.astro';
import HeaderCreator from '@components/HeaderCreator.astro';
import TopFive from '@components/TopFive.astro';
import Carrousel from '@components/Carrousel.astro';
import {Contador} from '@components/Contador.tsx';
import { getMyUserInfo } from "@/utils/getMyUserInfo";
import {TOKEN} from '@/constants.ts'




const token = Astro.cookies.get(TOKEN);
let user
try{
    user = await getMyUserInfo(token?.value)
    user = user.data

}catch(e){
    console.log(e)
}

---

<CreatorLayout title="PlayBeat">
    <div class="h-full w-full bg-[#333] bg-opacity-60 flex flex-col items-center">
        <HeaderCreator />
        <div class="flex flex-col items-center mt-5 gap-3">
            <h1 class="text-5xl text-bluePB font-bold">PLAYBEAT</h1>
            <h2 class="text-6xl font-semibold">PANEL DE CREADOR</h2>
        </div>
        <div class="w-full flex flex-row justify-between mt-5">
            
            <div class="flex flex-col w-1/2 items-center rounded-sm">
                <h3 class="text-lg p-2">REPRODUCCIONES</h3>
                <div class="h-[200px] w-full flex justify-center items-center">
                    <Contador initial={0} final={user.nEscuchas}  client:load/>
                </div>
            </div>
            <div class="flex flex-col w-1/2 items-center  rounded-sm">
                <h3 class="text-lg p-2">USUARIOS MENSUALES</h3>
                <div class="h-[200px] w-full flex justify-center items-center">
                    <Contador initial={0} final={user.oyentesMensuales}  client:load/>
                </div>
            </div>
        </div>
        <div class="w-full flex flex-row justify-between mt-10">
            <div class="ml-20 flex flex-col items-center">
                <a href="/creator/tusaudios"><h3 class="text-4xl  font-semibold hover:underline">TUS CANCIONES</h3></a>
                <div class="w-[600px]">
                    <!-- <CarrouselTop info={canciones} num={5}/> -->
                </div>
            </div>
            <div class="ml-8 w-[40%] flex flex-col mr-20">
                <a href="/creator/tusalbums" class="self-center"><h3 class="text-4xl font-semibold  hover:underline">TUS ALBUMS</h3></a>
                <!-- <Carrousel  info={canciones2} /> -->
            </div>
        </div>
    </div>
</CreatorLayout>
