---
import CreatorLayout from '@layouts/CreatorLayout.astro';
import HeaderCreator from '@components/HeaderCreator.astro';
import TopFive from '@components/TopFive.astro';
import Carrousel from '@components/Carrousel.astro';
import CarrouselUser from '@components/CarrouselUser.astro';
import {Contador} from '@components/Contador.tsx';
import { getMyUserInfo } from "@/utils/getMyUserInfo";
import {TOKEN} from '@/constants.ts'
import { userTopSongs } from '@/utils/userTopSongs';
import { getPlaylistsFromUser } from '@/utils/getPlaylistsFromUser';


const canciones = [
    {
        title: 'Canción 1',
        listeners: 1000000000,
        time: '3:45'
    },
    {
        title: 'Canción 2',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 3',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 4',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 5',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 6',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 7',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 8',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 9',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 10',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 11',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 12',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 13',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 14',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 15',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 16',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 17',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 18',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 19',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 20',
        listeners: 1000000,
        time: '3:45'
    },

    
]






const token = Astro.cookies.get(TOKEN);
let user
let responseTop
let top5
let playlists
try{
    user = await getMyUserInfo(token?.value)
    user = user.data
    responseTop = await userTopSongs(token?.value || "", Number(user.idUsuario), 5);
    top5 = responseTop.data;
    playlists = await getPlaylistsFromUser(Number(user.idUsuario) , token?.value || "" );
    console.log(playlists)
    playlists = playlists.data
    playlists = playlists.filter((playlist :any ) => playlist.esAlbum === true)
}catch(e){
    console.log(e)
}
let canciones2 = {num:3,name:"Tus albumes", ref:"/creator/tusalbums", items:playlists}

---

<CreatorLayout title="PlayBeat">
    <div class="h-full w-full bg-[#333] bg-opacity-60 flex flex-col items-center">
        <HeaderCreator />
        <div class="flex flex-col items-center mt-5 gap-3">
            <h1 class="text-5xl text-bluePB font-bold">PLAYBEAT</h1>
            <h2 class="text-6xl font-semibold">PANEL DE CREADOR</h2>
        </div>
        <div class="w-full flex flex-row justify-between mt-16 px-20 ">
            
            <div class="flex flex-col w-1/2 items-center rounded-sm">
                <a href="/creator/estadisticas"><h3 class="text-xl p-2 font-semibold hover:underline">REPRODUCCIONES ULTIMOS 30 DIAS</h3></a>
                <div class="h-[150px] w-full flex justify-center items-center">
                    <Contador initial={0} final={user.nEscuchas}  client:load/>
                </div>
            </div>
            <div class="flex flex-col w-1/2 items-center  rounded-sm">
                <a href="/creator/estadisticas"><h3 class="text-xl p-2 font-semibold hover:underline">OYENTE ULTIMOS 30 DIAS</h3></a>
                <div class="h-[150px] w-full flex justify-center items-center">
                    <Contador initial={0} final={user.oyentesMensuales}  client:load/>
                </div>
            </div>
        </div>
        <div class="w-full flex flex-row justify-between mt-10 px-20 ">
            <div class=" w-1/2 flex flex-col items-center">
                <a href="/creator/tusaudios"><h3 class="text-4xl  font-semibold hover:underline">TUS CANCIONES</h3></a>
                <div class="w-[600px]">
                        <TopFive info={top5}/>
                </div>
            </div>
            <div class=" w-1/2 flex flex-col ">
                <a href="/creator/tusalbums" class="self-center"><h3 class="text-4xl font-semibold  hover:underline">TUS ALBUMS</h3></a>
                <Carrousel  info={canciones2} />
            </div>
        </div>
    </div>
</CreatorLayout>
