---
import Layout from '../layouts/Layout.astro';
import FlechaDchHeader from "@/icons/FlechaDchHeader.astro";
import FlechaIzqHeader from "@/icons/FlechaIzqHeader.astro";
import { Global } from "@/globalState/globalUrl.js";
import {userData} from '@/utils/userData.ts';
import {Avatar} from "@nextui-org/react";
import Imagen from '@/icons/Imagen.astro';
//import { editUser } from '@/utils/editUser';

let user;

try{
    const jws = Astro.cookies.get('token');
    if(jws !==null && jws !== undefined){
        const response = await userData(jws.value); 
        user = response.data.usuario;
    }
   

} catch (error) {
    if (error instanceof TypeError) {
        console.log('Error: ', error.message);
    } else {
        console.log('Error: ', error);
    }

  }







---

<Layout title="PlayBeat">
    <div class=" z-10 flex fle-row gap-2 mt-5 fixed px-8 " >
        <button onclick="window.history.back();">
            <FlechaIzqHeader/>
        </button>
        <button  onclick="window.history.forward();">
            <FlechaDchHeader/>
        </button>
    </div>
    <div class="mt-14">
        <h1 class="text-bluePB text-5xl font-semibold ml-10">EDITAR</h1>
    </div>
    <div class="grid grid-cols-2 gap-3 justify-between">
        <form class="flex flex-col mt-2 mx-10 w-96 text-white" onsubmit="">
            <label class="mt-3">Nombre usuario:</label>
            <input type="text" class="border-2 border-white bg-transparent  h-10 rounded-md p-2  outline-none" placeholder="Introduce un nuevo nombre de usuario" value={user.nombreUsuario}/>
            <label class="mt-3">Correo electr칩nico:</label>
            <input type="email" class=" border-2 border-white bg-transparent  h-10 rounded-md p-2 outline-none" placeholder="Introduce un nuevo correo electr칩nico" value={user.email}/>
            <label class="mt-3">Contrase침a:</label>
            <input type="password" class=" border-2 border-white bg-transparent  h-10 rounded-md p-2 outline-none" placeholder="Introduce una nueva contrase침a" />
            <button type="submit" class="bg-[#6985C0] p-2 rounded-md mt-8 font-semibold">GUARDAR</button>
        </form>
        
        <div class=" flex flex-col flex-wrap content-center justify-center items-center photo gap-3 ">
            

            <section class="flex flex-col">
                <input type="file" id="addFoto" name="photo" class=" text-white p-2 rounded-md hidden" onchange="previewImage(event) " />
                <div class=" w-64 aspect-square mt-2 cursor-pointer bg-[#333] rounded-md border-2 border-[#c5c5c5] flex justify-center items-center" onclick="document.getElementById('addFoto').click();">
                    <img id="preview" class="w-64 aspect-square rounded-md hidden" />
                    <Avatar className="w-[180px] h-[180px]" classNames={{
                        base: "bg-gradient-to-br from-[#6985C0] from-30% to-[#CDD6EA]",
                        icon: "text-black/80 w-[180px] h-[180px] rounded-full text-7xl solid flex items-center justify-center",
                        img: "w-[180px] h-[180px] rounded-full",
                        name: "text-7xl -mt-2 "

                    }} name={user.nombreUsuario} showFallback src={Global.url+"foto/"+user.imgPerfil}/>
                   </div>
            </section>
            <span class="text-white text-xl font-thin opacity-60">
                Edit photo
            </span>
            
        </div>
    </div>
</Layout>


<script is:inline>
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function(){
            var output = document.getElementById('preview');
            output.style.display = 'block';
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    }
  
</script>