---
import { Global } from "@/globalState/globalUrl";
import FlechaDchHeader from "@/icons/FlechaDchHeader.astro";
import FlechaIzqHeader from "@/icons/FlechaIzqHeader.astro";
import {ImgPerfil} from "@/components/ImgPerfil.jsx";


const {nombreUsuario, email, imgPerfil, Seguidores} = Astro.locals.usuario;

const src = Global.url+"foto/"+imgPerfil
---

 <header class=" h-80 w-full"> 
    <div class=" w-full h-full flex flex-row justify-between relative">
        <div class=" z-10 flex fle-row gap-2 mt-5 fixed px-8 " >
            <button onclick="window.history.back();">
                <FlechaIzqHeader/>
            </button>
            <button  onclick="window.history.forward();">
                <FlechaDchHeader/>
            </button>
        </div>
        <div class="  -z-40 w-full h-80 bg-[#9A9A9A]  blur-3xl"></div>
        <div class=" ml-5 flex flex-col  absolute name">
            <span class="text-3xl font-bold text-white">
                {nombreUsuario}
            </span>
            <span class="text-white opacity-60">
                {email}
            </span>

            
        </div>
        <div class=" flex flex-col flex-wrap content-center justify-center absolute photo gap-3 ">
            <span class="text-3xl font-bold text-white ">
                <ImgPerfil className="w-[180px] h-[180px]" classNames={{
                    base: "bg-gradient-to-br from-[#6985C0] from-30% to-[#CDD6EA]",
                    icon: "text-black/80 w-[180px] h-[180px] rounded-full text-7xl solid flex items-center justify-center",
                    img: "w-[180px] h-[180px] rounded-full",
                    name: "text-7xl -mt-2 "

                  }} name={nombreUsuario} src={src} client:load/>
                
            </span>
            <div class="text-white text-3xl font-thin opacity-60 w-[180px] flex justify-center ">
                {Seguidores.length ? `${Seguidores.length} ${Seguidores.length === 1 ? 'Seguidor' : 'Seguidores'}` : '0 Seguidores'}

            </div>
        </div>
        <div class=" ml-5 flex flex-row gap-2  absolute edit">
            <a href="/editProfile" class="bg-[#6985C0] flex flex-row items-center p-1 px-3  gap-1 w-max h-7 rounded-md">
                <span class=" font-semibold">
                    EDIT
                </span>
            </a>
            <a href="/logout" class="bg-[#6985C0] flex flex-row items-center p-1 px-3  gap-1 w-max h-7 rounded-md font-semibold" >CERRAR SESIÓN</a>
        </div>
        

    </div>
</header>

<style>
    .name{
        bottom: 1vw;
        left: 0.5vw;
    }
    .photo{
        bottom: 2.5vw;
        left: 42.2%;
        
    }
    .edit{
        bottom: 1vw;
        right: 0.5vw;
    }


    
</style>