---
import Brujula from "@/icons/Brujula.astro"
import Casa from "@/icons/Casa.astro"
import Lupa from "@/icons/Lupa.astro"
import Mas from "@/icons/Mas.astro"
import Micro from "@/icons/Micro.astro"
import NotaList from "@/icons/NotaList.astro"
import World from "@/icons/World.astro"
import {TOKEN} from '@/constants.ts'
import {getPlaylistsFromUser} from "@/utils/getPlaylistsFromUser"
import { Global } from "@/globalState/globalUrl"
import { getPlaylistsFollowedByUser } from "@/utils/getPlaylistsFollowedByUser"

const token = Astro.cookies.get(TOKEN);
const {idUsuario} = JSON.parse(Astro.cookies.get("usuario")?.value as any)

let playlists = []
try{
    let [playlistsOwnResponse, playlistsSeguidasResponse] = await Promise.all([
        getPlaylistsFromUser(idUsuario, token?.value),
        getPlaylistsFollowedByUser(idUsuario, token?.value)
    ]);

    let playlistsOwn = playlistsOwnResponse.data;
    let playlistsSeguidas = playlistsSeguidasResponse.data;
    playlists = playlistsOwn.concat(playlistsSeguidas);


}catch(e){
    console.log(e)
}


const src = Global.url+"foto/" as string

---

<div class=" bg-grey  border-b-3 border-background h-full pt-8 bg-opacity-70" >
    <ul class="flex flex-col  gap-2 mx-6">
        <li class="flex ml-4 mb-3  items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-background -rotate-45" width="22" height="22" viewBox="0 0 24 24" stroke-width="2" stroke="#6985C0" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 8l4 -4" /><path d="M14 4l-10 10" /><path d="M4 20l16 -16" /><path d="M20 10l-10 10" /><path d="M20 16l-4 4" /></svg>
            <h1 class="text-[#6985C0] text-2xl font-bold">PlayBeat</h1>
        </li>
        <li class="flex items-center   hover:bg-[#575757] rounded-md">
            <a href="/home" class=" text-white text-lg font-semibold flex flex-row  items-center gap-4 w-full h-9 ml-4 mr-8">
                <Casa />
                <span>Inicio</span>
            </a>
        </li>
        <li class="flex items-center  hover:bg-[#575757] rounded-md">
            <a href="/search" class=" text-white text-lg font-semibold flex flex-row items-center gap-4 w-full h-9 ml-4 mr-8 ">
                <Lupa />
                <span>Buscar</span>
            </a>
        </li>
        <!-- <li class="flex items-center hover:bg-[#575757] rounded-md ">
            <a href="/explorar" class=" text-white text-lg font-semibold flex flex-row items-center gap-4 w-full h-9 ml-4 mr-8 ">
                <Brujula />
                <span>Explorar</span>
            </a>
        </li> -->
        <li class="flex items-center hover:bg-[#575757] rounded-md ">
            <a href="/podcast" class=" text-white  text-lg font-semibold flex flex-row items-center gap-4 w-full h-9 ml-4 mr-8 ">
                <Micro />
                <span>Podcast</span>
            </a>
        </li>
        <li class="flex items-center hover:bg-[#575757] rounded-md ">
            <a href="/creator" class=" text-white  text-lg font-semibold flex flex-row items-center gap-4 w-full h-9 ml-4 mr-8 " onclick=" document.dispatchEvent(new Event('stopSong'))">
                <World />
                <span>Creador</span>
            </a>
        </li>

    </ul>
    <section class="flex flex-col pt-6 h-2/3">
        <div class="flex flex-row justify-between px-6">
            <a href="/my-library"><h2 class="text-[#98aed5] font-semibold hover:underline text-xl" >Biblioteca</h2></a>
            <a href="/addPlaylist"><Mas /></a>
        </div>
        <ul class="flex flex-col gap-2 px-6 mt-4 overflow-y-scroll ">
            {playlists != undefined && playlists.map( (playlist: any) => 
                <li class="flex items-center hover:bg-[#575757] rounded-md p-2">
                    <a href=`/library/${playlist.idLista}` class=" text-white text-lg font-medium flex flex-row items-center gap-5  w-full h-9 ml-4  mr-8">
                        <img src={src+playlist.imgLista}  class="w-10 h-10 rounded-sm"/>
                         
                        <span>{playlist.nombre}</span>
                    </a>
                </li>
        )}
            
        </ul>
    </section>

</div>