---
import CreatorLayout from '@layouts/CreatorLayout.astro';
import HeaderCreator from '@components/HeaderCreator.astro';
import Stats3 from '@components/Stats3.astro';
import { TOKEN } from '@/constants';
import { getStatsAudio } from '@/utils/getStatsAudio';




let nombre = Astro.cookies.get("statsAudio")?.value
const reproducciones = nombre?.split("|")[1]
nombre = nombre?.split("|")[0]
const {id} = Astro.params
const token = Astro.cookies.get(TOKEN);
let res
let datos :any = []
let canciones :any = []
try{
  let date = new Date();
  date.setFullYear(date.getFullYear() - 1);
  let formattedDate = ("0" + (date.getMonth() + 1)).slice(-2) + "-" + date.getFullYear();
  res = await getStatsAudio(token?.value, id ||"", {date: formattedDate});
  res = res.data
  datos = res.map((cancion:any )=> cancion.listens)
  const firstNonZeroIndex = res.findIndex((cancion :any) => cancion.listens !== 0);
  canciones = res.slice(firstNonZeroIndex).reverse();
}catch(e){
    console.log(e)
}
---

<CreatorLayout title="PlayBeat">
    <div class=" h-full w-full bg-[rgb(51,51,51)] bg-opacity-60 flex flex-col items-center">
        <HeaderCreator />
        <div class=" w-full flex flex-col items-center gap-3 mt-16 px-16">
            
            <Stats3 name={nombre || ""} num={reproducciones || "0"} idNum="4" />
            <table class="mt-8 table-auto w-full">
                <thead class="opacity-60">
                    <tr class="text-left">
                        <th class="pb-2 pl-3">Fecha</th>
                        <th class="max-w-12">Visualizaciones</th>
                        <th class="max-w-6">%</th>
                    </tr>
                </thead>
                <tbody class="border-t-[1px] border-white border-opacity-60">
                    {canciones.map((cancion :any, index:any) => (
                          <tr class=" hover:bg-[#262626]" onclick="window.location='/stats/cancion1';">
                            <td class="py-3 pl-3">{cancion.month}/{cancion.year}</td>
                            <td class="max-w-12">{cancion.listens}</td>
                            <td class="py-3 max-w-6 text-[#47d147]">{index == 0 ? "100" : cancion.listens*100/Number(canciones[index-1])}%</td>

                        </tr>
    
                    ))
                    }
                </tbody>
            </table>
        </div>
    </div>

</CreatorLayout>




<script is:inline src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<script is:inline define:vars={{datos}}>
    function initCharts(){
    var options = {
          series: [{
          name: 'series1',
          data: datos
        }],
          chart: {
            height: 400,
            width: "100%",
            type: 'bar',
            toolbar: {
                show: false,
            },
            animations: {
                enabled: true,
                easing: 'easeinout',
                speed: 800,
                animateGradually: {
                    enabled: true,
                    delay: 150
                },
                dynamicAnimation: {
                    enabled: true,
                    speed: 350
                }
            }
            ,
        },

        grid:{
            show: true,
            borderColor: '#ffffff56',
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          show: true,
          width: 0,
          colors: ['transparent']
        },
        xaxis: {
          type: 'string',
          categories: ["Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic","Ene", "Feb", "Mar", "Abr"],
          labels:{
            show:true,
            style:{
                colors: '#ffffff'
            },
          },
          axisBorder:{
            show: false,
          },
          axisTicks:{
            show: false,
          },

        },
        yaxis: {
          type: 'string',
          min: 0,
          max: () => {
            return Math.ceil(Math.max(...datos) / 100) * 100;
          },
          showForNullSeries: false,
          labels:{
            show:true,
            style:{
                colors: '#ffffff'
            }
          },
          tickAmount: 5,
          forceNiceScale: true,
        },
        tooltip: {
          enabled: false

        },        
        plotOptions: {
          bar: {
            horizontal: false,
            columnWidth: '60%',
            endingShape: 'rounded',
            borderRadius: 5,
          },
        },
        dataLabels: {
          enabled: false
        },
 
        
        };

        var chart1 = new ApexCharts(document.querySelector("#chart"+4), options);
        if(chart1.el != null){
            chart1.render();
        }

    }

    initCharts()

      
</script>